In [1]:
import pandas as pd

In [2]:
data = {
    'x' : [1,2,3,4,5,7,10],
    'y' : [2,3,4,5,6,6,8]
}

In [3]:
data

{'x': [1, 2, 3, 4, 5, 7, 10], 'y': [2, 3, 4, 5, 6, 6, 8]}

In [7]:
df= pd.DataFrame(data)
df

    x  y
0   1  2
1   2  3
2   3  4
3   4  5
4   5  6
5   7  6
6  10  8

# Calculate Pearson Correlation

In [12]:
pearson_corr = df['x'].corr(df['y'])
print("Pearson Correlation coefficient : ", pearson_corr)

Pearson Correlation coefficient :  0.9655497563986455

In [13]:
df.corr()

         x        y
x  1.00000  0.96555
y  0.96555  1.00000