In [1]:
import pandas as pd

In [2]:
data = {'Feature 1': [1,20,3,40,5],
        'Feature 2': [6,7,18,19,10]}
df = pd.DataFrame(data)
df.head()

   Feature 1  Feature 2
0          1          6
1         20          7
2          3         18
3         40         19
4          5         10

In [3]:
def standardize_data(data):
    mean = data.mean()
    std_dev = data.std() #delta degree of freedom n-1
    standardized_data_raw = (data-mean) /std_dev
    return standardized_data_raw

In [4]:
standardized_data_raw = df.apply(standardize_data)

In [5]:
print("Original DataFrame : ")
print(df)

Original DataFrame :
   Feature 1  Feature 2
0          1          6
1         20          7
2          3         18
3         40         19
4          5         10

In [6]:
print("Standardized DataFrame : ")
print(standardized_data_raw)

Standardized DataFrame :
   Feature 1  Feature 2
0  -0.777975  -0.979796
1   0.376832  -0.816497
2  -0.656417   0.979796
3   1.592418   1.143095
4  -0.534858  -0.326599

In [7]:
df.head()

   Feature 1  Feature 2
0          1          6
1         20          7
2          3         18
3         40         19
4          5         10

In [9]:
standardized_data_raw.head()

   Feature 1  Feature 2
0  -0.777975  -0.979796
1   0.376832  -0.816497
2  -0.656417   0.979796
3   1.592418   1.143095
4  -0.534858  -0.326599

In [24]:
standardized_data_raw['Feature 1'].mean() +1

1.0

In [25]:
standardized_data_raw['Feature 1'].std()

0.9999999999999999

# Sklearn

In [12]:
from sklearn.preprocessing import StandardScaler

In [13]:
df

   Feature 1  Feature 2
0          1          6
1         20          7
2          3         18
3         40         19
4          5         10

In [17]:
scaler = StandardScaler()
standardized_data = scaler.fit_transform(df)
standardized_df = pd.DataFrame(standardized_data, columns = df.columns)

In [21]:
print("Original DataFrame : ")
print(df)

print("\n Standardized DataFrame : raw code")
print(standardized_data_raw)

print("\n Standardized DataFrame : sklearn")
print(standardized_df)

Original DataFrame :
   Feature 1  Feature 2
0          1          6
1         20          7
2          3         18
3         40         19
4          5         10

 Standardized DataFrame : raw code
   Feature 1  Feature 2
0  -0.777975  -0.979796
1   0.376832  -0.816497
2  -0.656417   0.979796
3   1.592418   1.143095
4  -0.534858  -0.326599

 Standardized DataFrame : sklearn
   Feature 1  Feature 2
0  -0.869803  -1.095445
1   0.421311  -0.912871
2  -0.733896   1.095445
3   1.780378   1.278019
4  -0.597989  -0.365148