In [46]:
import warnings
warnings.filterwarnings('ignore')

In [47]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [48]:
import pandas as pd
from sklearn import tree

In [49]:
df = pd.read_excel("male female.xlsx")
df

   height   weight  shoe size  gender
0      181      80         44    male
1      177      70         43  female
2      160      60         38  female
3      154      54         37  female
4      166      65         40    male
5      190      90         47    male
6      175      64         39    male
7      171      75         42  female
8      185      85         43  female
9      169      71         42    male

In [50]:
x = df.iloc[:,:-1]

In [51]:
x

   height   weight  shoe size
0      181      80         44
1      177      70         43
2      160      60         38
3      154      54         37
4      166      65         40
5      190      90         47
6      175      64         39
7      171      75         42
8      185      85         43
9      169      71         42

In [52]:
#y = df.iloc[:,-1:]
y = df.iloc[:,3]
y

0      male
1    female
2    female
3    female
4      male
5      male
6      male
7    female
8    female
9      male
Name: gender, dtype: object

In [53]:
classify_ = tree.DecisionTreeClassifier()

In [54]:
classify_ = classify_.fit(x,y)

In [55]:
prediction_ =  classify_.predict([[190, 70, 43]])
prediction_

array(['female'], dtype=object)

In [56]:
classify_.predict([[200, 79, 44]])

array(['male'], dtype=object)

# Saving Machine Learning Models

In [57]:
import pickle as pk 
with open('Model_1','wb') as file: #wb means write binary
    pk.dump(classify_, file)

 ### its another way to do the same thing. saving file by Model_2 name

In [58]:
pk.dump(classify_, open('Model_2','wb'))

In [59]:
### let's check the directory

In [60]:
import os
os.getcwd() #cwd means current working directory

'E:\\ML PracT\\Save ML Model\\Train Folder'

In [66]:
with open('Model_2','rb') as file:
    model2 = pk.load(file)
model2.predict([[200, 79, 44]])

array(['male'], dtype=object)

In [70]:
model2 = pk.load(open('Model_2','rb'))  # this is how we can do it in a single line
model2.predict([[200, 79, 44]])

array(['male'], dtype=object)

# Joblib

### in Joblib, no need to declare the mood. it will detect automatically

In [62]:
import joblib as jbl

In [63]:
jbl.dump(classify_ , 'Model_3')

['Model_3']

In [64]:
model3 = jbl.load('Model_3')

In [65]:
model3.predict([[200, 79, 44]])

array(['male'], dtype=object)