In [85]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [86]:
df = pd.read_csv("home data.csv");
df.head()

           x          y
0  48.955889  60.723602
1  44.687196  82.892504
2  60.297327  97.379897
3  45.618644  48.847153
4  38.816818  56.877213

In [87]:
df.shape

(99, 2)

In [88]:
x = df ['x']
y = df ['y']

# Gradient descent in machine learning

### First step

In [89]:
m = 0
c = 0
learning_rate = 0.001

n = int(len(x))

iterations = 1000
print("m : ",m,"\nc : ",c)

m :  0
c :  0

### Second step

In [90]:
for i in range(iterations):
    y_prediction = m*x+c
    derivatives_m = (-2/n) * sum(x*(y-y_prediction))
    derivatives_c = (-2/n) * sum((y-y_prediction))
    ### Final Step
    m = m - learning_rate * derivatives_m
    c = c - learning_rate * derivatives_c
  #  print(m,c)
print("m : ",m)
print("c : ",c)

m :  nan
c :  nan

## Make Prediction

In [76]:
# x = float(input("Enter any value of x : "))
x = 48

In [77]:
#y = mx+c
y = 7.424335285442663 * x + 7.424335285442663
print(" y : ",y)

 y :  363.79242898669054