In [38]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [39]:
import warnings
warnings.filterwarnings('ignore')

In [40]:
df = pd.read_csv('marital status.csv')

In [41]:
df

    age  status
0    21     0.0
1    33     1.0
2    24     0.0
3    28     1.0
4    17     0.0
5    33     1.0
6    23     0.0
7    30     0.0
8    29     1.0
9    22     0.0
10   26     1.0
11   20     0.0
12   22     0.0
13   24     NaN
14   34     1.0
15   29     1.0
16   16     0.0
17   18     0.0
18   26     1.0
19   25     1.0

In [42]:
df.isnull().sum()

age       0
status    1
dtype: int64

In [43]:
handle = df['status'].median()

In [44]:
handle

0.0

In [45]:
df.status = df.status.fillna(handle)

In [46]:
df.isnull().sum()

age       0
status    0
dtype: int64

In [47]:
df['status'].value_counts()

status
0.0    11
1.0     9
Name: count, dtype: int64

In [48]:
x = df[['age']]

In [49]:
x

    age
0    21
1    33
2    24
3    28
4    17
5    33
6    23
7    30
8    29
9    22
10   26
11   20
12   22
13   24
14   34
15   29
16   16
17   18
18   26
19   25

In [50]:
y = df[['status']]

In [51]:
y

    status
0      0.0
1      1.0
2      0.0
3      1.0
4      0.0
5      1.0
6      0.0
7      0.0
8      1.0
9      0.0
10     1.0
11     0.0
12     0.0
13     0.0
14     1.0
15     1.0
16     0.0
17     0.0
18     1.0
19     1.0

In [52]:
from sklearn.model_selection import train_test_split

In [53]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y, test_size=0.3, random_state=42)

In [54]:
from sklearn.linear_model import LogisticRegression

In [55]:
model = LogisticRegression()

In [56]:
model.fit(xtrain, ytrain)

LogisticRegression()

In [57]:
model.predict(xtest)

array([0., 0., 1., 1., 1., 1.])

In [58]:
model.score(xtest, ytest)

1.0

In [60]:
model.predict_proba(xtest) #sigmoid function probability

array([[0.90319466, 0.09680534],
       [0.97171768, 0.02828232],
       [0.2239123 , 0.7760877 ],
       [0.04828546, 0.95171454],
       [0.2239123 , 0.7760877 ],
       [0.04828546, 0.95171454]])