In [16]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
     -------------------------------------- 250.9/250.9 kB 1.5 MB/s eta 0:00:00
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [17]:
import pandas as pd
from sklearn import tree

In [23]:
df = pd.read_excel("male female.xlsx")
df

   height   weight  shoe size  gender
0      181      80         44    male
1      177      70         43  female
2      160      60         38  female
3      154      54         37  female
4      166      65         40    male
5      190      90         47    male
6      175      64         39    male
7      171      75         42  female
8      185      85         43  female
9      169      71         42    male

In [24]:
x = df.iloc[:,:-1]

In [25]:
x

   height   weight  shoe size
0      181      80         44
1      177      70         43
2      160      60         38
3      154      54         37
4      166      65         40
5      190      90         47
6      175      64         39
7      171      75         42
8      185      85         43
9      169      71         42

In [32]:
#y = df.iloc[:,-1:]
y = df.iloc[:,3]
y

0      male
1    female
2    female
3    female
4      male
5      male
6      male
7    female
8    female
9      male
Name: gender, dtype: object

In [36]:
classify_ = tree.DecisionTreeClassifier()

In [37]:
classify_ = classify_.fit(x,y)

In [41]:
prediction_ =  classify_.predict([[190, 70, 43]])
prediction_

C:\Users\Asus\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['female'], dtype=object)

In [42]:
prediction_ =  classify_.predict([[200, 79, 44]])
prediction_

C:\Users\Asus\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['male'], dtype=object)

# Let's Try Another One with Different Dataset

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("shop data.csv")
df.head()

     age  income  gender m_status buys
0    <25    high    male   single   no
1    <25    high    male  married   no
2  25-35    high    male   single  yes
3    >35  medium    male   single  yes
4    >35     low  female   single  yes

In [6]:
x = df.iloc[:,:-1]
x.head()

     age  income  gender m_status
0    <25    high    male   single
1    <25    high    male  married
2  25-35    high    male   single
3    >35  medium    male   single
4    >35     low  female   single

In [7]:
y = df.iloc[:,4]
y.head()

0     no
1     no
2    yes
3    yes
4    yes
Name: buys, dtype: object

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
Le_x = LabelEncoder()

In [10]:
x = x.apply(LabelEncoder().fit_transform)

In [11]:
x

    age  income  gender  m_status
0     1       0       1         1
1     1       0       1         0
2     0       0       1         1
3     2       2       1         1
4     2       1       0         1
5     2       1       0         1
6     0       1       0         0
7     1       2       1         0
8     1       1       0         1
9     2       2       0         0
10    1       2       0         1
11    0       2       1         0
12    0       0       0         1
13    2       2       1         0
14    1       0       1         1
15    1       0       0         0
16    2       2       1         0
17    1       0       0         1
18    0       2       0         0
19    0       0       1         1
20    2       2       0         0
21    1       1       1         1

In [12]:
from  sklearn.tree import DecisionTreeClassifier

In [13]:
import numpy as np

In [14]:
dtf = DecisionTreeClassifier()

In [15]:
dtf.fit(x.iloc[:,0:4],y)

DecisionTreeClassifier()

In [16]:
xinput = np.array([1,1,0,0])

In [18]:
y_predict = dtf.predict([xinput])
y_predict

C:\Users\Asus\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['yes'], dtype=object)