In [16]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
     -------------------------------------- 250.9/250.9 kB 1.5 MB/s eta 0:00:00
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [17]:
import pandas as pd
from sklearn import tree

In [23]:
df = pd.read_excel("male female.xlsx")
df

   height   weight  shoe size  gender
0      181      80         44    male
1      177      70         43  female
2      160      60         38  female
3      154      54         37  female
4      166      65         40    male
5      190      90         47    male
6      175      64         39    male
7      171      75         42  female
8      185      85         43  female
9      169      71         42    male

In [24]:
x = df.iloc[:,:-1]

In [25]:
x

   height   weight  shoe size
0      181      80         44
1      177      70         43
2      160      60         38
3      154      54         37
4      166      65         40
5      190      90         47
6      175      64         39
7      171      75         42
8      185      85         43
9      169      71         42

In [32]:
#y = df.iloc[:,-1:]
y = df.iloc[:,3]
y

0      male
1    female
2    female
3    female
4      male
5      male
6      male
7    female
8    female
9      male
Name: gender, dtype: object

In [36]:
classify_ = tree.DecisionTreeClassifier()

In [37]:
classify_ = classify_.fit(x,y)

In [41]:
prediction_ =  classify_.predict([[190, 70, 43]])
prediction_

C:\Users\Asus\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['female'], dtype=object)

In [42]:
prediction_ =  classify_.predict([[200, 79, 44]])
prediction_

C:\Users\Asus\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['male'], dtype=object)